:root{
    --color-red: #ff2d37;
    --color-dark:#000000;
    --color-gray-3xl: #737373;
    --color-gray-xl: #969696;
    --color-gray-l: #cdcdcd;    
    --color-gray-lite: #f0f0f0;    
    --color-blue: #00a5dc;   
    --color-green: #2db928;   
}
  
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Open Sans', sans-serif;
    font-size: calc(.8em + .5vw);  
    font-style: italic;
}

a:hover{
    cursor: pointer;
    color: var(--color-red);
    transition: all .4s;     
}

.header__inner  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-gray-lite);
    padding: 20px 0;
    flex-wrap: wrap;
    gap: 3%;
}

.logo {
    display: flex;
    align-items: center;
    gap: .8em;
}

.st0 {
    fill:var(--color-red);
}

h1 {
    font-size: calc(1em + .8vw);
    color: var(--color-gray-lite);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h3 {
    font-size: calc(.8em + .5vw);
    color: var(--color-gray-lite);
    text-transform: uppercase;
    font-family: 'Viga', sans-serif;  
    color: var(--color-gray-lite);  
    font-weight: 700;
}

.wrapper {
    width: 100%;
    max-width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
}

.intro {
    min-height: 100vh;
    background: center center no-repeat; 
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url(./assets/img/fon2.jpg);    
    background-size: cover;    
}

.slider__content{    
    display: flex;
    gap: 1%;
    justify-content: center;
    padding: 0;
}

.slide {        
    aspect-ratio: 16 / 9;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 10%;
    transition: all .3s linear
}

.slide:hover,
.active {
    flex-basis: 100%;
    border-radius: 3px;    
    -webkit-box-shadow: 0 0 .8rem .4rem var(--color-dark);
    box-shadow: 0 0 .8rem .4rem var(--color-dark);
}

#s1{
    background: url(./assets/img/moika.jpg) no-repeat center center;
    background-size: cover;
}

#s2{
    background: url(./assets/img/remont.jpg) no-repeat center center;
    background-size: cover;
}
#s3{
    background: url(./assets/img/shvy.jpg) no-repeat center center;
    background-size: cover;
}
#s4{
    background: url(./assets/img/moika.jpg) no-repeat center center;
    background-size: cover;
}
#s5{
    background: url(./assets/img/remont.jpg) no-repeat center center;
    background-size: cover;
}


  
